build/

# IDE products
.vscode/
.idea/

# Python products
__pycache__/
.pytest_cache/
*.pyc
backend.log

# macOS products
**/*.dSYM/
*_result_generation
.DS_store

build/

# Test results
log.xml
test_summary.jsonl
test/examples/test_assertions
test/examples/test_chatbot
test/examples/test_description
test/examples/test_nested_suites
test/examples/test_greeting
test/examples/test_money
test/examples/test_parametrized_tests
test/examples/test_roman_to_arabic_converter
test/examples/test_floating_point
test/framework/test_command_line_arguments
test/framework/test_randomized_tests
