build/

# IDE products
.vscode/
.idea/

# Python products
__pycache__/
.pytest_cache/
*.pyc
backend.log

# macOS products
**/*.dSYM/
*_result_generation

# Test results
log.xml
test_summary.jsonl
/spec/examples/test_assertions
/spec/examples/test_chatbot
/spec/examples/test_description
/spec/examples/test_greeting
/spec/examples/test_money
/spec/examples/test_parametrized_tests
/spec/examples/test_roman_to_arabic_converter
/spec/framework/test_command_line_arguments
/spec/framework/test_floating_point
