body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.editorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 64px;
    margin-top: 32px;
}

.codeEditor {
    width: 40%;
    height: 600px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f0f0f0;
}

.testResults {
    width: 30%;
    height: calc(600px - 16px);
    background-color: #e6e6e6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.testResultsTitle {
    font-family: 'Roboto', sans-serif;
    align-self: center;
    font-size: 150%;
    margin-bottom: 5px;
    margin-top: 10px;
}

.runButton {
    height: 2em;
    width: 5em;
    border-radius: 4px;
    align-self: flex-end;
    margin-top: auto;

    background-color: #1aaa55;
    border: 1px solid #168f48;
    color: white;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;

    font-family: 'Roboto', sans-serif;
    font-size: 120%;

    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.runButton:disabled {
    background-color: #727272;
    border-color: #444444;
}

.runButton:hover:enabled {
    background-color: #199e50;
}

.runButton:active:enabled {
    background-color: #137a3e;
    color: #d6d6d6;
}

.testResult {
    background-color: #cfcfcf;
    border-radius: 4px;
    margin: 0.5vh;
    padding: 0.5vh;
    height: 1.8em;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.testPassed {
    font-family: 'Roboto', sans-serif;
    background-color: #308d1d;
    color: white;
    font-weight: bold;
    height: 1.05em;
    width: 2em;
    
    border-radius: 4px;
    margin: 0.5vh;
    padding: 0.5vh 1vw 0.5vh 0.7vw;
}

.testFailed {
    font-family: 'Roboto', sans-serif;
    background-color: #be1818;
    color: white;
    font-weight: bold;
    height: 1.05em;
    width: 2em;
    
    border-radius: 4px;
    margin: 0.5vh;
    padding: 0.5vh 1vw 0.5vh 1vw;
}

.testSkipped {
    font-family: 'Roboto', sans-serif;
    background-color: #8c8f00;
    color: white;
    font-weight: bold;
    height: 1.05em;
    width: 2em;

    border-radius: 4px;
    margin: 0.5vh;
    padding: 0.5vh 1vw 0.5vh 1vw;
}

.testName {
    padding-left: 1vw;
    font-family: 'Roboto', sans-serif;
}

.failureMessage {
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    padding: 8px;
}

.errorToast {
    position: fixed;
    height: 4em;
    width: 30%;
    left: 35%;
    bottom: 10%;
    background-color: #aa2626;
    border: 1px solid #790000;
    border-radius: 4px;
    box-shadow: 0px 0px 16px #888888;

    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.hiddenErrorToast {
    opacity: 0;
}

.closeToast {
    position: absolute;
    font-size: 150%;
    background-color: #e00000;
    border: 1px solid #790000;
    border-radius: 4px;
    color: white;
    cursor: pointer;

    top: 0.6em;
    right: 0.6em;
    height: 1.5em;
    width: 1.5em;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.closeToast:hover:enabled {
    background-color: #b60101;
}

.closeToast:active:enabled {
    background-color: #a00101;
    color: #d6d6d6;
}

.toastMessage {
    font-family: 'Roboto', sans-serif;
    color: white;

    position: absolute;
    font-size: 120%;
    padding-top: 20px;
    padding-left: 40px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    padding: 32px;
    justify-content: center;
    background-color: #f7f7f7;
}

.descriptionText {
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.mainFeatures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-left: 32px;
    margin-right: 32px;
}

.mainFeatures > p::first-line {
    font-weight: bold;
    color: #621c5f;
    font-size: 150%;
}

.featureIcon {
    color: #621c5f;
    padding-bottom: 20px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    color: #168f48;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 32px;
    margin-right: 32px;
}

#getFromGithub {
    font-size: 120%;
    background-color: #ffffff;
    height: 32px;
    border-radius: 6px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin-top: 12px;
    border: 1px solid #000000;
    text-decoration: none;
    color: black;

    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

#getFromGithub:hover {
    background-color: #f3f2f2;
}

#githubCi {
    height: 24px;
    width: 110px;

    margin-left: 32px;
    margin-top: 22px;

    background-image: url("https://github.com/cegonse/cest/workflows/CI/badge.svg?branch=master");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color: #cacaca;
    background-color: #252525;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.socialMedia {
    padding-left: 32px;
}

.socialMediaBadge {
    padding-left: 10px;
    font-size: 150%;
    color: #cacaca;

    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.socialMediaBadge:hover {
    color: #ffffff;
}
